.container-form {
  display: flex;
  margin: 2rem 0;
  align-items: center;
  justify-content: center;
}

.input {
  background-color: #fff;
  border-radius: 8px;
  padding: 0.8rem;
}

.weatherSearch {
  margin: 0 15px;
  color: black;
  border: 1px solid gray;
  font-size: 13px;
  background: #f1f3f4;
  font-weight: bold;
  cursor: pointer;  
  outline: none;
  border-radius: 10px;
  width: 220px;
  text-align: center;
}

.weatherSearch::placeholder {
  color: #999;
  font-size: 12px;
  font-weight: 500;
}

.weatherIcon {
  color: black;
  width: 25px;
  height: 25px;
}

.container-mid {
  margin: 3rem 0;
}