.weather-container-map {
  text-align: center; 
}

.weather-map-drop {
  margin: 0px 0;
  padding: 0px; 
}

section {
  background: rgba(83, 83, 83, 0.1);
  padding: 0.5em;
  margin-top: -0.4em;
  border-radius: 20px;
}
